h1 {
    text-align: center;
}
.inline-block {
    display: inline-block;
}
.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: yellow;
}
.bg-green {
    background-color: green;
}
.text-white {
    color: #fff;
}
.pwd-text {
    background-color: #000;
    color: lightgreen;
    border: .125rem solid lightgreen;
    border-radius: .3125rem;
    font-size: 1.5rem;
    padding: .625rem;
    font-weight: bold;
    margin: 0 .625rem;
}